* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --orange: #f37202;
  --gray: #808080;
  --white: #ffffff;
  --dark-blue: #1d263a;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: Garamond, serif;
  font-size: 18px;
  background-color: var(--gray);
}

.header-name {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 50px;
  font-weight: 800;
}

.section-title {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: var(--orange);
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  height: 200px;
  margin: 0 auto;
  background-color: var(--dark-blue);
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  font-size: 16px;
  color: var(--orange);
  text-transform: uppercase;
  text-decoration: none;
}

.header-name {
  text-align: center;
  color: var(--orange);
}

.header-name span {
  color: var(--white);
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--white);
}

.section-left-column {
  width: 75%;
}

.section-right-column {
  width: 25%;
}

.footer-container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--dark-blue);
}

.footer-container img {
  filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(294deg) brightness(111%) contrast(100%);
}
